<ion-view view-title="Edit">
  <ion-content class="background-register">
    <div class="item item-input login-ui">
      <input type="email" style="color: #FFFFFF;" placeholder="E-Mail" ng-model="thisEvent.id">
    </div>
    <div class="item item-input login-ui">
      <input type="email" style="color: #FFFFFF;" placeholder="E-Mail" ng-model="thisEvent.category.category_name">
    </div>
    <div class="item item-input login-ui">
      <input type="email" style="color: #FFFFFF;" placeholder="E-Mail" ng-model="thisEvent.description">
    </div>
    <div class="item item-input login-ui">
      <input type="email" style="color: #FFFFFF;" placeholder="E-Mail" ng-model="thisEvent.time">
    </div>
    <div class="item item-input login-ui">
      <input type="email" style="color: #FFFFFF;" placeholder="E-Mail" ng-model="thisEvent.event_date_start">
    </div>
{{thisEvent.category.id}}

  </ion-content>
</ion-view>
